<% if flash[:notice] %>
<div id="card-alert" class="card green lighten-5">
  <div class="card-content green-text">
    <p><%= flash[:notice] %><i class="right tiny material-icons clear-btn">clear</i></p>
  </div>
</div>
<% end %>

<% if params[:request] === 'userinfo' %>
<a href="/twitter" class="waves-effect waves-light btn">戻る</a>
<table class="striped">
  <tbody>
    <tr>
      <td>ユーザ名</td>
      <td>テスト</td>
    </tr>
    <tr>
      <td>スクリーンネーム</td>
      <td>@test</td>
    </tr>
    <tr>
      <td>フォロー数</td>
      <td><%= @userinfo['friends_count'] %></td>
    </tr>
    <tr>
      <td>フォロワー数</td>
      <td><%= @userinfo['followers_count'] %></td>
    </tr>
    <tr>
      <td>いいねの数</td>
      <td><%= @userinfo['favourites_count'] %></td>
    </tr>
    <tr>
      <td>リストに追加された数</td>
      <td><%= @userinfo['listed_count'] %></td>
    </tr>
    <tr>
      <td>ホームページ</td>
      <td>No homepage provided</td>
    </tr>
    <tr>
      <td>説明文</td>
      <td>No description provided</td>
    </tr>
    <tr>
      <td>位置情報</td>
      <td><%= @userinfo['location'] %></td>
    </tr>
    <tr>
      <td>アカウント作成日</td>
      <td><%= @userinfo['created_at'] %></td>
    </tr>
  </tbody>
</table>

<iframe src="https://platform.twitter.com/widgets/tweet_button.html?size=l&text=テストさんの統計解析結果%0D%0Dフォロー数:%20<%= @userinfo['friends_count'] %>%0Dフォロワー数:%20<%= @userinfo['followers_count'] %>%0Dいいねの数:%20<%= @userinfo['favourites_count'] %>%0Dリストに追加された数:%20<%= @userinfo['listed_count'] %>" width="77" height="28" style="border: 0; overflow: hidden;"></iframe>
<% end %>

<% if params[:request] === 'friends-only' || params[:request] === 'followers-only' %>
<a href="/twitter" class="waves-effect waves-light btn">戻る</a>
<div><p>ユーザ数: <%= @friends_userinfo.count %></p></div>
<iframe src="https://platform.twitter.com/widgets/tweet_button.html?size=l&text=<%= @friends_or_followers_only_desc %>の数は<%= @friends_userinfo.count %>でした" width="77" height="28" style="border: 0; overflow: hidden;"></iframe>
<table class="striped">
  <tbody>
    <% @friends_userinfo.each_with_index do |friend_userinfo, count| %>
    <tr>
      <td><%= count + 1 %></td>
      <td><a href="https://twitter.com/<%= friend_userinfo['screen_name'] %>" target="_blank"><%= '@' + friend_userinfo['screen_name'] %></a></td>
      <td><%= link_to @btn_title, '/twitter/' + @btn_action + '/' + friend_userinfo['screen_name'], {:class => 'waves-effect waves-light btn'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<a href="/twitter" class="waves-effect waves-light btn">戻る</a>
<% end %>
